<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentDelivery">
    <pipelines>
      <createTracker>
        <processor type="Sitecore.Support.Analytics.Pipelines.CreateTracker.GetTracker, Sitecore.Support.95531" patch:instead="processor[@type='Sitecore.Analytics.Pipelines.CreateTracker.GetTracker, Sitecore.Analytics']"/>
      </createTracker>
    </pipelines>
  </sitecore>
</configuration>